<div class="modal-body">
    <div class="pagetitle">
        <h1>Catálogo de apartados categoría</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Productos</li>
                <li class="breadcrumb-item">Categorías</li>
                <li class="breadcrumb-item active">Apartados</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-body card-w-title">
            <form class="row g-3" autocomplete="off" [formGroup]="formApartado">
                <div class="col-lg-3">
                    <label for="nombreApartado" class="form-label required">Nombre:</label>
                    <input type="text" class="form-control" formControlName="nombreApartado"
                        id="nombreApartado" placeholder="Nombre" (keypress)="soloTexto($event)" maxlength="255">
                </div>
                <div class="col-lg-4">
                    <label for="descripcionApartado" class="form-label">Descripción:</label>
                    <textarea formControlName="descripcionApartado" id="descripcionApartado"
                        placeholder="Descripción" class="form-control" rows="1"></textarea>
                </div>
                <div class="col-lg-3">
                    <label for="categoria" class="form-label required">Categoría:</label>
                    <select formControlName="categoria" id="categoria" class="form-control">
                        <option value="" style="display: none; visibility: hidden;">Elija una categoría</option>
                        <option *ngFor="let categoria of categorias" [value]="categoria.id">
                            {{categoria.nombre}}
                        </option>
                    </select>
                </div>
                <div class="col-lg-2" *ngIf="!mostrarUpdate">
                    <label class="form-label">&nbsp;</label>
                    <button class="btn btn-primary form-control t-bold" (click)="registrarApartadoProducto()"><i
                            class="bi bi-plus-circle"></i></button>
                </div>
                <div class="col-lg-1 col-6" *ngIf="mostrarUpdate">
                    <label class="form-label">&nbsp;</label>
                    <button class="btn btn-warning form-control t-bold"
                        (click)="actualizarApartadoProducto()"><i
                            class="bi bi-arrow-clockwise"></i></button>
                </div>
                <div class="col-lg-1 col-6" *ngIf="mostrarUpdate">
                    <label class="form-label">&nbsp;</label>
                    <button class="btn btn-danger form-control t-bold"
                        (click)="ocultarModificacionApartado()"><i class="bi bi-x-lg"></i></button>
                </div>
    
                <app-datatable [columnasTabla]="columnasCategorias"
                    [datosTabla]="listaApartados"
                    [tableConfig]="tableConfig"
                    (actionSelected)="realizarAccion($event)"></app-datatable>
            </form>
        </div>
    </div>
</div>

<div class="modal-footer" style="text-align: center;">
    <button type="button" class="btn btn-danger" (click)="cerrarModal()"><b>Cerrar</b></button>
</div>