<div class="pagetitle">
    <h1>Consultar Pedidos</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Pedidos</a></li>
            <li class="breadcrumb-item active">Consulta de pedidos por status</li>
        </ol>
    </nav>
</div>

<div class="col-sm-12">
    <div class="card">
        <div class="card-body row card-w-title">
            <div class="form-group drop-space col-sm-6 col-12">
                <label for="dropDown" class="form-label t-bold">Status Pedidos(s) <b style="color: brown;">*</b>:</label><br>
                <div class="btn-group group-dropdown-form" role="group">
                    <app-dropdown [options]="statusPedidos" [font]="'statusPedidos'" (selectionChange)="cambioDeSeleccion($event)"></app-dropdown>
                    <button class="btn btn-outline-primary" (click)="refreshStatusPedidos()"><i class="bi bi-arrow-repeat"></i></button>
                </div>
            </div>

            <div class="botonera">
                <button class="btn btn-primary t-bold" [disabled]="canGet()" (click)="obtenerPedidosPorStatus()">Consultar</button>
                <button class="btn btn-success t-bold" [disabled]="canExport()">Excel</button>
                <button class="btn btn-danger t-bold" [disabled]="canClean()" (click)="limpiarTabla()">Limpiar</button>
            </div>
        </div>
    </div>
    
    <app-datatable [columnasTabla]="columnasPedidos" [datosTabla]="listaPedidosStatus" [tableConfig]="tableConfig"></app-datatable>
</div>