<div class="modal-body">
    <div class="pagetitle">
        <h1>Pedido #PE-{{idDetalle}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Producto</li>
                <li class="breadcrumb-item active">Modificación</li>
            </ol>
        </nav>
    </div>

    <div class="card">
        <div class="card-body card-w-title">
            <ul class="nav nav-tabs nav-tabs-bordered d-flex" id="borderedTabJustified" role="tablist">
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100 active t-bold" id="home-tab" data-bs-toggle="tab"
                        data-bs-target="#bordered-justified-home" type="button" role="tab" aria-controls="home"
                        aria-selected="true">Cliente</button>
                </li>
                <li class="nav-item flex-fill" role="presentation">
                    <button class="nav-link w-100 t-bold" id="profile-tab" data-bs-toggle="tab"
                        data-bs-target="#bordered-justified-profile" type="button" role="tab" aria-controls="profile"
                        aria-selected="false" tabindex="-1">Pedido</button>
                </li>
            </ul>

            <div class="tab-content pt-2" id="borderedTabJustifiedContent">
                <div class="tab-pane fade show active" id="bordered-justified-home" role="tabpanel"
                    aria-labelledby="home-tab">
                    <h5 class="card-title" align="center">Información cliente</h5>
                    <form autocomplete="off" class="row g-3" [formGroup]="formDatosPersonalesUsuario">
                        <div class="col-lg-4 col-md-6 col-12">
                            <label for="nombre" class="form-label required">Nombre(s):</label>
                            <input formControlName="nombre" type="text" placeholder="Nombre(s)" maxlength="50"
                                class="form-control" id="nombre" (keypress)="soloLetras($event)">
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <label for="aPaterno" class="form-label required">Apellido Paterno:</label>
                            <input formControlName="aPaterno" type="text" placeholder="Apellido Paterno" maxlength="50"
                                class="form-control" id="aPaterno" (keypress)="soloLetras($event)">
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <label for="aMaterno" class="form-label">Apellido Materno:</label>
                            <input formControlName="aMaterno" type="text" placeholder="Apellido Materno" maxlength="50"
                                class="form-control" id="aMaterno" (keypress)="soloLetras($event)">
                        </div>
                        <div class="col-md-6 col-12">
                            <label for="telefono" class="form-label required">Teléfono:</label>
                            <input formControlName="telefono" type="text" placeholder="Teléfono" maxlength="10"
                                class="form-control" id="telefono" (keypress)="soloNumeros($event)">
                        </div>
                        <div class="col-lg-6 col-12">
                            <label for="correo" class="form-label required">Correo:</label>
                            <input formControlName="correo" type="email" placeholder="Correo" maxlength="100"
                                class="form-control" id="correo" (keypress)="soloTexto($event)">
                        </div>
                        <h5 class="card-title" align="center" style="margin-bottom: -10px;">Dirección cliente</h5>
                        <div class="col-lg-7 col-12">
                            <label for="calle" class="form-label required">Calle:</label>
                            <input formControlName="calle" type="text" placeholder="Calle" maxlength="200"
                                class="form-control" id="calle" (keypress)="soloTexto($event)">
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <label for="noExterior" class="form-label required">No. Exterior:</label>
                            <input formControlName="noExterior" type="text" placeholder="No. Exterior" maxlength="10"
                                class="form-control" id="noExterior" (keypress)="soloTexto($event)">
                        </div>
                        <div class="col-lg-2 col-md-6 col-12">
                            <label for="cp" class="form-label required">CP:</label>
                            <input formControlName="cp" type="text" placeholder="CP" maxlength="5" class="form-control"
                                id="cp" (keypress)="soloNumeros($event)">
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <label for="localidad" class="form-label required">Localidad:</label>
                            <input formControlName="localidad" type="text" placeholder="Localidad" maxlength="50"
                                class="form-control" id="localidad" (keypress)="soloLetras($event)">
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <label for="municipio" class="form-label required">Municipio:</label>
                            <input formControlName="municipio" type="text" placeholder="Municipio" maxlength="50"
                                class="form-control" id="municipio" (keypress)="soloLetras($event)">
                        </div>
                        <div class="col-lg-4 col-12">
                            <label for="estado" class="form-label required">Estado:</label>
                            <input formControlName="estado" type="text" placeholder="Estado" maxlength="50"
                                class="form-control" id="estado" (keypress)="soloLetras($event)">
                        </div>
                        <div class="col-12">
                            <label for="referencias" class="form-label">Referencias:</label>
                            <textarea formControlName="referencias" id="referencias" placeholder="Referencias"
                                class="form-control" style="height: 65px;" (keypress)="soloTexto($event)"></textarea>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="bordered-justified-profile" role="tabpanel"
                    aria-labelledby="profile-tab">
                    <form autocomplete="off" class="row g-3" [formGroup]="formDatosPedido">
                        <div class="col-lg-4 col-md-6 col-12">
                            <label for="fechaPedido" class="form-label">Fecha Pedido:</label>
                            <input type="date" class="form-control" formControlName="fechaPedido" id="fechaPedido">
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <label for="fechaEntregaEstimada" class="form-label">Fecha Estimada Entrega:</label>
                            <input type="date" class="form-control" formControlName="fechaEntregaEstimada" id="fechaEntregaEstimada" (change)="cambioFechaEntregaEstimada()">
                        </div>
                        <div class="col-lg-4 col-md-6 col-12">
                            <label for="fechaEntrega" class="form-label">Fecha Entrega:</label>
                            <input type="date" class="form-control" formControlName="fechaEntrega" id="fechaEntrega">
                        </div>
                    </form>
                    <h5 class="card-title" align="center">Productos pedido</h5>
                    <app-datatable [columnasTabla]="columnasProductosPedidos" [datosTabla]="productosPedido"></app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer" style="text-align: center;">
    <button *ngIf="pedido.fkStatus == 1" type="button" class="btn btn-primary" (click)="enviarPedido()"><b>Enviar</b></button>
    <button *ngIf="pedido.fkStatus == 2" type="button" class="btn btn-warning" (click)="entregarPedido()"><b>Entregar</b></button>
    <button type="button" class="btn btn-danger" (click)="cerrarModal()"><b>Cerrar</b></button>
</div>